@import '../../styles/abstract/custom-variables';
@import '../../styles/abstract/custom-mixins';

.parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}


.area {
    display: flex;
    align-self: center;
    width: 100%;
    
}
.form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
}
.title {
    font-size: 45px;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 0;
    
}
.label {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 500;
    text-transform: capitalize;
}
.input {
    background-color: transparent;
    border: 1px solid #dee2e6;
    font-family: $yantramanav;
    width: 100%;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    margin-bottom: 10px;
}
.checkbox {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5px;
    &_label {
        vertical-align: top;
        font-size: 14px;
    }
}
.forgotton {
    &_password {
        a {
            font-size: 14px;
            color: inherit;
            &:hover {
                color: $primary;
            }
        }
    }
}

.btn {
    transition: $baseTransition;
    background-color: $primary;
    padding: 10px 15px;
    padding: 10px;
    display: flex;
    width: 100% !important;
    margin-top: 10px;
    border-radius: 0;
    cursor: pointer;
    color: $white;
    border: 0;
    font-weight: 500;
    font-size: 18px ;
    align-items: center;
    justify-content: center;
    text-align: center;
    &:hover {
        background-color: $secondary;
    }
}

.procore{
    transition: $baseTransition;
    background-color: black;
    padding: 10px 15px;
    padding: 10px;
    display: flex;
    width: 100% !important;
    border-radius: 0;
    cursor: pointer;
    color: $white;
    border: 0;
    font-weight: 500;
    font-size: 18px ;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    &:hover {
        background-color: $white;
        color: black;
        border: 1px solid rgb(239, 100, 53);
    }
}
.container{
    display: flex;
    justify-content: space-between;


}
.image {
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

.span{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #4d4d4dc9;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    text-align: center;
    justify-content: center;
    width:100%;
    margin-top: 15px;
    margin-bottom: 15px;
    &::before,
    &::after {
        content: "";
        flex-grow: 1;
        background: $white;
        border-bottom: 0.25px solid rgba(0, 0, 0, 0.348);
        height: 0.5px;
        margin: 0 10px;
    }
}
.OauthBtn{
    transition: $baseTransition;
    padding: 10px 95px 10px 95px;
    
    background-color: $white;
    
    border: 1px solid #29292981;
    &:hover {
        background-color: rgba(202, 202, 202, 0.26);
        color: $white;
    }
}
.OauthBtn{
    cursor: pointer;
}

.containerBtn{
    display: flex;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width:100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.containerSpan{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%
}

.subtitle{
    color: #3e3e3e;
    font-weight: 300;
    margin-bottom: 20px !important;
    border: 2px;
}
// mobile screen styling
@media (max-width: 768px){
    .container{
        display: block;
    }
    .image {
        display: none;
    }
    .form {
        padding: 20px;
        width: 100% !important;
    }
    .title {
        font-size: 30px;
    }
    .input {
        width: 100%;
    }
    .btn {
        width: 100% !important;
    }
    .containerSpan{
        width: 100%;
    }
    .procore{
        width: 100% !important;
    }
    .span{
        width:100%;
    }
    .OauthBtn{
        width: 100% !important;
    }
    // .containerSpan{
    //     width:100%;
    // }
    .containerBtn{
        width: 100%;
    }

}

// styling the ,main component (container)

@media (min-width: 1920px){
    .registerContainer{
        display: flex;
        justify-content: center;
        height: 100vh;
     }
}
